.gameCart {
  border: 1px solid var(--black-border);
  background-color: rgb(228, 225, 225);
  width: 100%;
  padding: 16px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;

}

.gameCart__left {
  text-align: center;
}

.gameCart__img {
  width: 120px;
  height: 60px;
  object-fit: cover;
}

.gameCart__title {
  font-size: 14px;
  max-width: 120px;
}

.gameCart__amount {
  display: flex;
  align-items: center;
}

.gameCart__amountBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  color: inherit;
  transition: all 200ms ease;
}

.gameCart__amountBtnTrash {
  margin-left: 24px;
}

.gameCart__amountBtnRemove:hover,
.gameCart__amountBtnTrash:hover {
  color: rgb(219, 28, 28);
}

.gameCart__amountBtnAdd:hover {
  color: rgb(11, 158, 11);
}

.gameCart__amountNumber {
  border: none;
  outline: none;
  background-color: white;
  width: 25px;
  padding: 0 2px;
  margin: 0 2px;
  font-size: 18px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.gameCart__right {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
  margin-right: 8px;
}

@media (max-width: 728px) {
  .gameCart__right {
    width: 175px;
  }

  .gameCart__amountBtnTrash {
    margin-left: 16px;
  }
}