.footer {
  background-color: var(--main-blue);
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

.footer__copyright {
  color: var(--white);
  font-size: 18px;
}
