.gamePage {
  position: relative;
  min-height: 100vh;
}

.gamePage__container {
  padding: 0 32px;
  padding-bottom: 110px;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 32px;
}

.gamePage__box {
  background-color: var(--main-pink);
  border: 5px solid var(--black-border);
  color: var(--white);
  font-weight: 600;
  display: flex;
  flex-direction: column;
  padding: 16px 32px 12px;
}

.line-break {
  border-top: 1px solid black;
  padding: 4px;
}

.gamePage__title {
  margin-bottom: 16px;
  align-self: center;
}

.gamePage__image {
  max-height: 400px;
  object-fit: contain;
  align-self: center;
}

.gamePage__value {
  margin-right: 4px;
}

.gamePage__developers {
  margin-top: 16px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.gamePage__developer {
  margin-right: 8px;
}

.gamePage__genres {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.gamePage__genre {
  margin-right: 8px;
}

.gamePage__description {
  font-size: 15px;
}

.gamePage__addToCartBtn {
  width: 150px;
  margin: 0 auto;
  background-color: var(--main-blue);
  color: var(--white);
  border: none;
  border-radius: 20px;
  padding: 6px 8px;
  font-weight: 800;
  font-size: 18px;
  cursor: pointer;
  transition: all 200ms ease;
}

.gamePage__addToCartBtn:hover {
  opacity: .9;
}

.gamePage__addToCartBtn:active {
  opacity: .3;
}