.cart {
  position: fixed;
  bottom: 36px;
  right: 36px;
  background-color: var(--main-blue);
  border-radius: 50%;
  padding: 16px;
  -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.5);
  scale: 1;
  transition: scale 400ms ease;
  z-index: 9999;
}

.cart:hover {
  cursor: pointer;
  scale: 1.1;
}

.cart:active {
  scale: 0.9;
}

.cart__img {
  color: var(--white);
}

.cart__number {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 3px;
  right: 3px;
  position: absolute;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 13px;
  font-weight: 800;
}
