@import url("https://fonts.googleapis.com/css2?family=Alatsi&family=Roboto:wght@400;700;900&display=swap");

:root {
  --main-blue: #66bfbf;
  --main-pink: #f76b8a;
  --secondary-pink: #b67583; 
  --light-grey: #eaf6f6;
  --white: #fcfefe;
  --black-border: black;
  --dark-grey: #808080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--white);
}

img {
  width: 100%;
}

.pink {
  color: var(--main-pink)
}

.home__title {
  color: var(--main-pink);
  font-size: 48px;
}

.home__bottomBorder::after {
  content: "";
  width: 90%;
  height: 1px;
  background-color: var(--main-blue);
  position: absolute;
  bottom: -8px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

@keyframes loadIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1;}
}

.skeleton-box {
  display: inline-block;
  height: 1em;
  position: relative;
  overflow: hidden;
  background-color: #dddbdd;
}

.skeleton-box::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  -webkit-animation: shimmer 2s infinite;
  animation: shimmer 2s infinite;
  content: "";
}
@-webkit-keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}